body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.85);
}
#myH1{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: #29292a;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: #e1e1e1;
}
#display{
    font-size: 5rem;
    font-family: monospace, sans-serif;
    font-weight: bold;
    color: rgba(79, 78, 78, 0.3);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    transition:background-color 0.5s ease;
}
#startBtn{
    background-color: rgba(199, 118, 156, 0.3);
}
#startBtn:hover{
    background-color: rgba(199, 118, 156, 0.9);
}
#stopBtn{
    background-color: rgba(184, 118, 199, 0.3);
}
#stopBtn:hover{
    background-color: rgba(184, 118, 199, 0.9);
}
#resetBtn{
    background-color: rgba(138, 118, 199, 0.3);
}
#resetBtn:hover{
    background-color: rgba(138, 118, 199, 0.9);
}