body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9c9c9;
}
h1{
    color: #4f769b;
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.34);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: #e598af;
    font-size: 1.5em;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #a26d7e;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}