body{
    background-image: url("forestfontanna.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight:bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(6px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}