body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #c97baa;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #ffa9db;
}
button:active{
    background-color: #ffe2f2;
}
.operator-btn{
    background-color: #ccacc2
}
.operator-btn:hover{
    background-color: #eac8df
}
.operator-btn:active{
    background-color: #fff0f9
}